img {
  max-width: 100%;
}

main {
  min-height: 60vh;
}

.slick-slider {
  .slick-prev,
  .slick-next {
    width: 40px;
    height: 40px;
    z-index: 1;
    &:before {
      text-shadow: 1px 1px rgb(0, 0, 0, 0.5);
      font-size: 40px;
    }
  }

  .slick-prev {
    left: 4%;
  }

  .slick-next {
    right: 4%;
  }
}